<h1>Tilføj navn</h1>
<form action="addrecord/" method="post">
    {% csrf_token %}
    navn:<br>
    <input name="navn">
    <br><br>
    gruppe:<br>
    <input name="gruppe">
    <br><br>
    mandag:<br>
    <input name="mandag">
    <br><br>
    tirsdag:<br>
    <input name="tirsdag">
    <br><br>
    onsdag:<br>
    <input name="onsdag">
    <br><br>
    torsdag:<br>
    <input name="torsdag">
    <br><br>
    fredag:<br>
    <input name="fredag">
    <br><br>
    pligter:<br>
    <input name="pligter">
    <br><br>
    <input type="submit" value="Gem">
</form>